@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url(./MassiveWebsite/assets/font/Inter-Regular.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url(./MassiveWebsite/assets/font/Inter-Medium.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url(./MassiveWebsite/assets/font/Inter-SemiBold.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url(./MassiveWebsite/assets/font/Inter-Bold.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url(./MassiveWebsite/assets/font/Inter-ExtraBold.ttf)
      format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url(./MassiveWebsite/assets/font/Inter-Black.ttf) format("trueType");
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: Inter;
}

.text-red-600 {
  color: #dc2626;
}

/* ------ */
/* slide left test animatie  */
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Animation LatestDevelopments section Home */

.LatestDevelopmentsIcon {
  opacity: 1; /* Initially set to fully opaque */
}
/* Animation you want to show */
.LatestDevelopmentsIconHover {
  animation: fadeIn 0.5s ease-in;
}

/* The Animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}
/* ------ */

/* set color navbar Active */
.navbar .active {
  color: green;
}

/* custom-tooltip.css */
.tippy-box[data-theme~="customTooltip"] {
  background-color: #6b7280;
  color: #f3f4f6;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 8px;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #6b7280;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #6b7280;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: #6b7280;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: #6b7280;
}

/* .test554 {
  border-radius: 50px;
  border: 1.5px solid var(--default-white, #fff);
  background: var(--default-gray-100, #f3f4f6);


  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
} */

