@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url(./MassiveWebsite/assets/font/Inter-Regular.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url(./MassiveWebsite/assets/font/Inter-Medium.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url(./MassiveWebsite/assets/font/Inter-SemiBold.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url(./MassiveWebsite/assets/font/Inter-Bold.ttf) format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url(./MassiveWebsite/assets/font/Inter-ExtraBold.ttf)
      format("trueType");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url(./MassiveWebsite/assets/font/Inter-Black.ttf) format("trueType");
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: Inter;
  overflow-x: hidden;
  background-color: #F9FAFB ;
}

.text-red-600 {
  color: #dc2626;
}

/* ------ */
/* slide left test animatie  */
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Animation LatestDevelopments section Home */

.LatestDevelopmentsIcon {
  opacity: 1; /* Initially set to fully opaque */
}
/* Animation you want to show */
.LatestDevelopmentsIconHover {
  animation: fadeIn 0.5s ease-in;
}

/* The Animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}
/* ------ */

/* set color navbar Active */
.navbar .active {
  color: #a855f7;
}

/* custom-tooltip.css */
.tippy-box[data-theme~="customTooltip"] {
  background-color: #6b7280;
  color: #f3f4f6;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 8px;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #6b7280;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #6b7280;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: #6b7280;
}
.tippy-box[data-theme~="customTooltip"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: #6b7280;
}




/* Gradients */
.custom-bg-gradient{
  background: linear-gradient(90deg, rgba(139, 92, 246, 0.20) 11.46%, rgba(66, 241, 241, 0.20) 36.98%, rgba(82, 56, 239, 0.20) 70.31%, rgba(139, 92, 246, 0.20) 94.27%);
  filter: blur(32px);
}

.radial-img-gradient{
  background: radial-gradient(53.8% 46.4% at 50% 50%, rgba(249, 250, 251, 0.00) 48.98%, #F9FAFB 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}


/* overflow hidden */
.overfolw-hidden{
  overflow-x: hidden
}

/* Flip grid row to first row */
@media (min-width: 1280px){
  .grid-pos-row-1{
    grid-row: 1;
  }
}



/* .test554 {
  border-radius: 50px;
  border: 1.5px solid var(--default-white, #fff);
  background: var(--default-gray-100, #f3f4f6);


  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
} */

